{% extends 'detector/base.html' %}
{% block title %}ユーザー新規登録{% endblock %}
{% block content %}

<div class="mx-auto dt-auth-main">
  <div class="card dt-auth-signup">
    <header>新規ユーザー登録</header>
    <section>
      <form class="form-singin" action="{{ url_for('auth.signup', next=request.args.get('next')) }}", method="post", novalidate="novalidate">
        {{ form.csrf_token }}
        {% for message in get_flashed_messages() %}
        <div class="dt-auth-flash">{{ message }}</div>
        {% endfor %}
      
        {{ form.username(class='form-control dt-auth-input', size=30, placeholder='ユーザー名') }}
        {{ form.email(class='form-control dt-auth-input', placeholder='メールアドレス') }}
        {{ form.password(class='form-control dt-auth-input', placeholder='パスワード') }}
        {{ form.submit(class='btn btn-md btn-primary btn-block dt-auth-btn') }}
      </form>
    </section>
  </div>
</div>

{% endblock %}